[Unit]
Description=OpenMiniHub Gateway Service
After=network.target

[Service]
ExecStart=/bin/sh -c '/usr/bin/node /home/pi/gateway/gateway.js >> /home/pi/gateway/logs/gateway.sys.log 2>&1'
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
Restart=always
User=pi
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier=opeminihub-gateway
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/gateway/
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
